.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.desc {
  font-size: 18px;
  line-height: 1.5rem;
  font-weight: 500;
}
